body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000088;
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }